# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Local test data
input.txt
output.txt
tests/
Стебенев_КРБО_12_24_код_2160_5.txt
Timus-2160.py